Flask
Flask-SQLAlchemy
Flask-Mail
Flask-Compress
Flask-Caching
python-dotenv
Pillow
pandas
openpyxl
python-telegram-bot
gunicorn
reportlab
qrcode
pytesseract
pdf2image
opencv-python
numpy
opencensus-ext-azure
opencensus-ext-flask
